APISIX_ETCD_HOST=http://127.0.0.1:2379
APISIX_ADMIN_KEY=CHANGE_ME_APISIX_ADMIN_KEY
JWT_ACCESS_SECRET=CHANGE_ME_BFF_ACCESS_SECRET
JWT_REFRESH_SECRET=CHANGE_ME_BFF_REFRESH_SECRET
DB_PASSWORD=CHANGE_ME_DB_PASSWORD
REDIS_PASSWORD=
CANAL_MYSQL_PASSWORD=CHANGE_ME_DB_PASSWORD
